/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 600px;
    width: 1000px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

body {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

#page-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#event-details {
    grid-column: 1 / span 3;
}